.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    &__square {
        flex: 0 0 33.33333%;
        cursor: pointer;
    }
}

.player_x,
.player_0 {
    cursor: not-allowed;
    pointer-events: none;
}

.player_x {
    background-color: goldenrod;
}
.player_0 {
    background-color: tomato;
}

.controls {
    display: flex;
    margin-top: 1.5rem;

    .start-button {
        width: 50%;
        height: 5rem;
        margin-right: auto;
    }

    .reset-button {
        width: 50%;
    }
}

// SQUARES
#square_1,
#square_2 {
    border-bottom: 10px solid var(--pink);
    border-right: 10px solid var(--pink);
}

#square_3 {
    border-bottom: 10px solid var(--pink);
}

#square_4,
#square_5 {
    border-right: 10px solid var(--pink);
}

#square_7,
#square_8,
#square_9 {
    border-top: 10px solid var(--pink);
}

#square_7,
#square_8 {
    border-right: 10px solid var(--pink);
}

#square_1,
#square_2,
#square_3,
#square_4,
#square_5,
#square_6,
#square_7,
#square_8,
#square_9 {
    &:hover {
    }
}
